@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>Somos líderes globais em design, marketing e distribuição de produtos de estilo de vida de luxo.
    Por mais de 50 anos, nossa reputação e imagem diferenciada foram desenvolvidas em uma ampla gama
    de produtos, marcas, canais de distribuição e mercados internacionais. Nosso propósito duradouro,
    que orienta tudo o que fazemos, é inspirar o sonho de uma vida melhor por meio da autenticidade
    e do estilo atemporal.</h4>
